In [13]:
# Write a Python program to find sum of elements in list?

l=[1,2,3,4,5,6]
su=0
for i in l:
  su=su+i
  print(su)

1
3
6
10
15
21

In [14]:
l = [1, 2, 3, 4, 5]
sum_l = sum([i for i in l])  # ✅ Works correctly
print(sum_l)

TypeError: 'int' object is not callable

In [15]:
#Assessing the elements from list

In [3]:
l

[1, 2, 3, 4, 5, 6]

In [4]:
print(l[0])

1

In [5]:
print(l[1])

2

In [6]:
print(l[-1])

6

In [7]:
print(l[:])

[1, 2, 3, 4, 5, 6]

In [8]:
print(l[:-1])

[1, 2, 3, 4, 5]

In [9]:
b=[item for item in l if item >3]
print(b)

[4, 5, 6]

In [16]:
#changing the item in the list

In [17]:
a=[10,20,30,40,50]
a

[10, 20, 30, 40, 50]

In [18]:
a[1]=24

In [19]:
a

[10, 24, 30, 40, 50]

In [21]:
#using slicing

a=[10,20,30,40,50]

a[1:3]=[67,56]
a

[10, 67, 56, 40, 50]

In [22]:
a=[x* 2 if x%2==0 else x for x in a]

In [23]:
a

[20, 67, 112, 80, 100]

In [25]:
b=[1,2,3,4,5,5]
c=[x*2 if x%2==0 else x for x in b]

In [26]:
c

[1, 4, 3, 8, 5, 5]

In [27]:
#Using loop emumerate

k=[10,20,30,40,50]

for i , x in enumerate(a):
  if x%2 !=0:
    k[i]+=5
print(k)

[10, 25, 30, 40, 50]

In [28]:
#using map

a=[10,20,30]
a=list(map(lambda x:x+1, a))
print(a)

[11, 21, 31]

In [29]:
# Replacing values in a list in python


l=[10,20,30,40,50]

a[2]=99
print(a)

[11, 21, 99]

In [30]:
a=[10,20,30,40,50]

b=list(map(lambda x:99 if x==30 else x, a))
print(b)

[10, 20, 99, 40, 50]

In [31]:
for i in range(len(a)):
  if a[i]==30:
    a[i]=99

print(a)

[10, 20, 99, 40, 50]

In [33]:
a=[10,20,30,40,50]
i=0
while i<len(a):
  if a[i]==30:
    a[i]=99
  i+=1
print(a)

[10, 20, 99, 40, 50]
[10, 20, 99, 40, 50]

In [34]:
#Append item to the list

In [35]:
k=[2,3,4,5]
a.append(8)
a

[10, 20, 99, 40, 50, 8]

In [36]:
# Using Ternary Operator

a=7
b=2

res= a if a>b else b
print(res)

7